<h1 style="color: white"></h1>
<form>
  <div>
    <label for="weight"> Weight: </label>
    <input [(ngModel)]="weight" type="number" name="weight" id="weight"/>
  </div>
  <div *ngIf="isKnownUser">
    <label for="height"> Height: </label>
    <input [(ngModel)]="height" type="number" name="height" id="height" />
  </div>
  <div *ngIf="isKnownUser">
    <label for="birthDay"> Birth date: </label>
    <input type="date" name="birthDay" id="birthDay"/>
  </div>
  <app-button color="green" text="Calculate" (btnClick)="CalculateBMI()">
  </app-button>
</form>
<output>{{result}}</output>
