.page-container {
    height: 100%;
    background: rgb(5, 42, 58);
    display: flex;
  }
  
  .sidebar {
    height: 100%;
    width: 300px;
    background: rgba(0, 0, 0, 0.2);
  }
  
  .list-items {
    padding-top: 100px;
  }
  
  .list-item {
    display: flex;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
  }
  
  .list-item:hover {
    color: orange;
  }
  
  .list-item.selected {
    background: rgba(0, 0, 0, 0.5);
  }
  
  .page-content-container {
    padding: 50px;
  }
  