<div class="page-container">
  <div class="sidebar">
    <div class="list-items">
      <a routerLink="/Calculator" routerLinkActive="selected" class="list-item"> Calculator </a>
      <a routerLink="/Information" routerLinkActive="selected" class="list-item"> Information </a>
      <a routerLink="/History" routerLinkActive="selected" class="list-item"> History </a>
    </div>
    <div class="list-items special">
      <a routerLink="/Login" routerLinkActive="selected" class="list-item login"> Login </a>
      <a routerLink="/Register" routerLinkActive="selected" class="list-item register"> Register </a>
    </div>
  </div>

  <div class="page-content-container">
    <router-outlet></router-outlet>
  </div>
</div>
