<div class="page-container">
  <div class="sidebar">
    <div class="list-items">
      <a routerLink="/Calculator" routerLinkActive="selected" class="list-item"> Calculator </a>
      <a routerLink="/PlaceHolder1" routerLinkActive="selected" class="list-item"> PlaceHolder1 </a>
      <a routerLink="/PlaceHolder2" routerLinkActive="selected" class="list-item"> PlaceHolder2 </a>
      <a routerLink="/PlaceHolder3" routerLinkActive="selected" class="list-item"> PlaceHolder3 </a>
    </div>
  </div>

  <div class="page-content-container">
    <router-outlet></router-outlet>
  </div>
</div>
